{#
    DE: Showcase-Layout - erweitert das base.html.twig der Host-App
    EN: Showcase layout - extends host app's base.html.twig

    Voraussetzung: Host-App hat ein base.html.twig mit Tabler CSS/JS
#}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="page">
        <aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <h1 class="navbar-brand navbar-brand-autodark">
                    <a href="{{ path('tabler_showcase_index') }}">
                        <i class="ti ti-layout-dashboard me-2"></i>
                        Tabler Bundle
                    </a>
                </h1>
                <div class="collapse navbar-collapse" id="sidebar-menu">
                    <ul class="navbar-nav pt-lg-3">
                        <li class="nav-item">
                            <a class="nav-link{{ app.request.attributes.get('_route') == 'tabler_showcase_index' ? ' active' : '' }}" href="{{ path('tabler_showcase_index') }}">
                                <span class="nav-link-icon d-md-none d-lg-inline-block">
                                    <i class="ti ti-home"></i>
                                </span>
                                <span class="nav-link-title">Overview</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link{{ app.request.attributes.get('_route') == 'tabler_showcase_components' ? ' active' : '' }}" href="{{ path('tabler_showcase_components') }}">
                                <span class="nav-link-icon d-md-none d-lg-inline-block">
                                    <i class="ti ti-components"></i>
                                </span>
                                <span class="nav-link-title">TwigComponents</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link{{ app.request.attributes.get('_route') == 'tabler_showcase_form_types' ? ' active' : '' }}" href="{{ path('tabler_showcase_form_types') }}">
                                <span class="nav-link-icon d-md-none d-lg-inline-block">
                                    <i class="ti ti-forms"></i>
                                </span>
                                <span class="nav-link-title">FormTypes</span>
                            </a>
                        </li>
                        <li class="nav-item mt-auto">
                            <a class="nav-link" href="https://github.com/jostkleigrewe/symfony-tabler-bundle" target="_blank">
                                <span class="nav-link-icon d-md-none d-lg-inline-block">
                                    <i class="ti ti-brand-github"></i>
                                </span>
                                <span class="nav-link-title">GitHub</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>

        <div class="page-wrapper">
            {% block page_header %}{% endblock %}

            <div class="page-body">
                <div class="container-xl">
                    {% block content %}{% endblock %}
                </div>
            </div>

            <footer class="footer footer-transparent d-print-none">
                <div class="container-xl">
                    <div class="text-center text-secondary small">
                        <a href="https://github.com/jostkleigrewe/symfony-tabler-bundle" target="_blank" class="link-secondary">
                            jostkleigrewe/symfony-tabler-bundle
                        </a>
                        <span class="mx-1">·</span>
                        MIT License
                    </div>
                </div>
            </footer>
        </div>
    </div>
{% endblock %}
