{#
    DE: Generisches Panel/Card mit Titel
    EN: Generic panel/card with title

    @see Jostkleigrewe\TablerBundle\Twig\Components\Panel
#}
<div class="card card-{{ size }}">
    <div class="card-body">
        <div class="{{ centered ? 'text-center' : '' }} mb-4">
            {% if icon %}
                <div class="mb-3">
                    <span class="avatar avatar-lg bg-{{ iconColor }}-lt">
                        <i class="ti ti-{{ icon }} fs-1"></i>
                    </span>
                </div>
            {% endif %}
            <h2 class="h2 mb-1">{{ title }}</h2>
            {% if subtitle %}
                <p class="text-secondary mb-0">{{ subtitle }}</p>
            {% endif %}
        </div>
        {% block content %}{{ content|default('') }}{% endblock %}
    </div>
</div>
